{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Ecommerce</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>

    <section id="header">
        <a href="#"><img src="{% static 'assets/img/logo.png' %}" alt="logo"></a>

        <div>
            <ul id="navbar">
                <li><a id="close" href="#"><i class="fa-solid fa-xmark"></i></a></li>
                <li><a class="active" href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></li>
            </ul>
            <div id="mobile">
                <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                <i id="bar" class="fa-solid fa-bars"></i>  
            </div>
        </div>
    </section>
    
    {% block js %}
        <script src="https://kit.fontawesome.com/626eec2485.js" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>
