{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<section style="background-color: aqua;">
    <form action="{% url 'new-product' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                    <label style="color:red; margin-bottom: 5px;" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{field}}
            </div>
           {% endfor %}
        </div>
        <div class="col-12 text-center">
            <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Post</button>
        </div>
    </form>
</section>
{% endblock %}