{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<section class="form-new-prod">
    <h1 class="h1">Register your New Product</h1>
    <br>
    <br>
    <br>
    <form action="{% url 'new-product' %}" method="POST" style="text-align: start;" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                    <label style="margin-bottom: 5px;" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{field}}
                </div>
           {% endfor %}
        </div>
        <div class="col-12 text-center">
            <button class="btn btn-success col-12" style="padding-top: 5px; background-color: #591420 !important; border-color: #591420 !important;" type="submit">Post</button>
        </div>
    </form>
</section>
{% endblock %}